body {
  background-color: rgba(177, 164, 164, 0.493) !important;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

* {
  box-sizing: 0px;
  margin: 0px;
  border: 0px;
}

#txt-message {
  color: white;
  padding-top: 13px;
}

#div-sub-message {
  width: 200px;
  height: 50px;
  border-radius: 7px;
  background-color: mediumseagreen;
}

#div-message {
  padding-top: 10px;
  /* border: solid 1px black; */
}

#div-signIn {
  margin-top: 13%;
}

#btn-signIn {
  width: 100%;
  background-color: rgba(45, 0, 128, 0.699);
  border: 0px;
}

#btn-signIn:hover {
  background-color: rgba(45, 0, 128, 0.932);
}

#div-signIn-form {
  background-color: white;
  border-radius: 15px;
}

#btn-signUp {
  text-decoration: none;
}

#btn-signUp:hover {
  text-decoration: underline;
}

#txt-signIn b {
  color: rgba(45, 0, 128, 0.932);
}

#txt-merge {
  color: white;
}

#txt-merge1 {
  color: Grey;
}

#txt-bloom {
  color: rgba(45, 0, 128, 0.932);
}

#txt-logo-title span {
  padding: 10px;
  font-weight: bold;
}

#txt-create {
  color: white;
}

#txt-think {
  color: rgba(45, 0, 128, 0.932);
}

#txt-recreate {
  color: white;
}

#div-main-loading {
  width: 50%;
  margin-top: 20%;
}

#div-loading {
  border: solid 0.5px white;
  background-color: rgba(45, 0, 128, 0.932);
  height: 25px;
  border-radius: 15px;
}

#div-loading p {
  font-size: 0px;
}

.text-end b {
  color: white;
}

header {
  background-color: white;
  border-bottom: solid 1px rgba(45, 0, 128, 0.932);
}
